<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">

    <display-name>Simple web application</display-name>

    <servlet>
        <servlet-name>greetingsServlet</servlet-name>
        <servlet-class>ru.kpfu.itis.GreetingsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>greetingsServlet</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>


</web-app>
